#LoginPanel {
  display: flex;
  justify-content: center;
  text-align: center;
}

.input {
  margin: 10px;
}

.login-btn {
  margin: 15px 10px;
}

.error-message {
  color: #e53935;
  font-size: small;
}
