#QuizzesListElement {
  background-color: #6ec6ff;
  padding: 2%;
  margin: 2%;
  display: flex;
  justify-content: space-between;
}

#quiz-title {
  font-weight: bold;
}

#quiz-description {
  font-weight: lighter;
}
